
.cartjs{
    display: flex;
}

.cartjj{
    border-radius: 8px;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.cartt{
    margin-left: 0%;
    width: 580px;
    padding-top: 3%;
    padding-left: 7%;
    height: 230px;
}


.cart-row{
     display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 13%;
}

.cartrr{
    box-shadow: 0px 0px 2px rgba(17, 17, 17, 0.25);
    margin-left: 5%;
    width: 95%;
}

.quantity{
     margin-left: 37%;
}

.amt{
     margin-left: 20%; 
}


.cartit{
    margin-top: -15%;
    margin-left: 5%;
}

.image{
    margin-top: 20px;
    width: 90px;
    height: 80px;
}

.cart-item{
    box-shadow: 0px 0px 2px rgba(17, 17, 17, 0.25);
    border-radius: 8px;
    height: 120px;
    width: 100%;
    display: flex;
    margin-left: -5%;
    margin-top: 1%; 
}

.btncart{
    margin-left: 10%;
    gap: 3px;
    display: flex;
}

.pp{
    font-weight: bold;
    margin-top: 5%;
    margin-left:0;  
    font-size: 12px;
}

.productname{
    width: 140%;
}

.ta{
    margin-left: 10%;
    display: flex;
}

.ex{
    margin-left: 30px;
}

#inpcart{
    font-weight: 600;
    font-size: 13px;
    margin-top: 50px;
    width: 20px;
    height: 20px;
    border: none;
}

.tot{
    font-weight: 700;
    font-size: 14px;
    margin-left: 60%;
    margin-top: 50px;
}

.ord{
    /* margin-left: 60px; */
}

.orderbord{
    margin-left: 3%;
    width: 50%;
    height: 120px;
    margin-top: 5%; 
}

.ordersub{
    padding-top: 20px;
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    box-shadow: 0px 0px 2px rgba(17, 17, 17, 0.25);
    width: 96%;
    border-radius: 8px;
}

.toti, .totaa, .delii, .toa{
    display: flex;
}

.toti{
    margin-top: 20px;
    }

.toti2{
    margin-left: 60%;
}

.tota2{
    margin-left: 65%;
}

.deli-fee{
    margin-left: 60%;
}

.toa2{
    margin-left: 58%;
}

.checkoutp{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
    margin-left: 30%;
    background: #149C08;
    border-color: #149C08;
    border-radius: 8px;
    width: 55%;
    height: 35px;
}