.newest-header{
  margin-top: 5%;
  margin-left: 4%;
  width: 34%;
  height: 44px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #06283D;
}

.top-fruit{
  display: flex;
  flex-direction: column;
}


.newproduct{
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  
}


.top-fruit {
  margin-top: 20%;
  display: flex;

}

.newest-fruit{
  z-index: 1;
  margin-left: 4%;
  padding-left: 5.8%;
  width: 90% ;
  height: 520px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.2);
  border-radius: 5%;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.newest-fruit:hover{
  background-color: #ff7d09;
  transition-duration: 2s;
}

.newimg1{
  position: relative;
  height: 200px;
  width: 250px;
}


.newest-ratings{
  display: flex;
}

.twelve{
  margin-top: 5%;
  margin-left: 4%;
}

.newest-price{
  display: flex;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;  
  line-height: 41px;
  color: #353535;
}


.pcs{
  padding-top: 2%;
}

.newest-name{
  width: 209px;
  height: 22px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
}

.plus-minus{
  display: flex;
  margin-top: -10% ;
  margin-left: -3%;
}

.two{
  margin-top: 6%;
}

.cartt-button{
  color: white;
  margin-left: -13px;
  width: 276px;
  height: 54px;
  background: #149C08;
  border-radius: 5px;
}

.view{
  margin-top: 3%;
  margin-left: 45%;
  width: 151px;
  height: 51px;
  color: white;
  background: #149C08;
  border-radius: 8px;
}

