.newest-header {
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.newest-fruits {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.newest-fruit {
  width: 282px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.2);
  border-radius: 12px;
  margin-top: -1rem;
}
.newest-img {
  width: 250px;
  height: 175px;
  background: #efefef;
  border-radius: 12px;
  margin: auto;
  margin-top: 1rem;
}
.newest-name {
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #353535;
  padding: 5px;
}
.icon {
  margin-left: 14rem;
}
.newest-ratings {
  padding: 5px;
}
.newest-price {
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 21px;
  color: #353535;
  padding-left: 6px;
}
.price-pcs {
  font-weight: 100;
  font-size: 16px;
}
.increment,
.decrement {
  width: 30px;
  padding-left: 6px;
}
.plus-minus {
  padding-left: 10px;
  margin-bottom: 10px;
}
.cart-button {
  padding: 10px;
  width: 270px;
  background: #149c08;
  border-radius: 20px;
  color: #ffff;
  border: 10px solid;
}
.view-btn {
  padding: 10px;
  margin-top: 2rem;
  margin-left: 35rem;
  width: 200px;
  background: #149c08;
  border-radius: 10px;
  color: #ffff;
  border: 1px solid;
  cursor: pointer;
}
