.loginn{
    margin-top: -380px;
    margin-left: 350px;
    width: 400px;
    height: 65vh;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(32, 32, 32, 0.16);
    border-radius: 16px;

}

.Signin{
    padding-top: 30px;
    margin-left: 70px;
}

.x{
    font-size: 25px;
    margin-left: 290px;
    position: relative;
    top: -50px;
}

.signupg{
    width: 265px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.sign{
    width: 256px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 14px;
    color: #344054;
    text-align: center;
    
}

.hrline{
    margin-left: 30px;
    margin-top: 20px;
    width: 50.5px;
    height: 0px;
}

.hrlin{
    margin-left:30px ;
    margin-top: 20px;
    width: 50.5px;
    height: 0px;
}

.orhr{
    padding-left: -50px;
    margin-top: -20px;
    display: flex;
}

.orl{
    margin-top: 5px;
    margin-left: -65px;
    width: 30.5px;
    height: 0px;
    font-weight: 500;
}

/* .email{
    margin-top: -80px;
    width: 34px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
} */

#emailas{
    margin-top: 5px;
    width: 255px;
    height: 40px;
    background: #F4F4F4;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;
}

/* .password{
    padding-top: -190px;
    width: 134px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;   
} */

#passwordinpu{
    padding-left: 5px;
    margin-top: 5px;
    width: 275px;
    height: 40px;
    background: #F4F4F4;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;   
}

.rem{
    display: flex;
    width: 443px;
    height: 17px;
    margin-top: 20px;
}

#checkbox{
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.remember{
    margin-top: 5px;
    width: 97px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #888888;
}

.emessage{
    margin-left: 230px;
    width: 434px;
    margin-top: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    color:red;
}

.forgot{
    width: 129px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #149C08;
    margin-left: 70px;
    margin-top: 2px;
}

.signinb{
    width: 225px;
    height: 40px;
    background: #149C08;
    border-color: #149C08;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
}

.DS{
    margin-left: 20px;
    display: flex;
}

.dont{
    width: 343px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #888888;
    margin-left: 20px;
    margin-top: 20px;

}

.signupp{
    margin-left: -120px;
    width: 193px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    margin-top: 20px;
    color: #149C08;
}