body{
    background-color: red;
}

.loginn{
    margin-top: 50px;
    margin-left: 450px;
    width: 400px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(32, 32, 32, 0.16);
    border-radius: 16px;

}

.Signin{
    padding-top: 45px;
    margin-left: 15%;
}

/* .x{
    font-size: 25px;
    margin-left: 290px;
    position: relative;
    top: -50px;
} */

.signupg{
    width: 70%;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sign{
    margin-top: 10%;
    width: 90%;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 14px;
    color: #344054;
    text-align: center;
    
}

.hrline{
    margin-left: 30px;
    margin-top: 20px;
    width: 50.5px;
    height: 0px;
}

.hrlin{
    margin-left:30px ;
    margin-top: 20px;
    width: 50.5px;
    height: 0px;
}

.orhr{
    padding-left: -50px;
    margin-top: -20px;
    display: flex;
}

.orl{
    margin-top: 25px;
    margin-left: 15px;
    width: 30.5px;
    height: 0px;
    font-weight: 500;
}

/* .email{
    margin-top: -80px;
    width: 34px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
} */

.emaillabel{
    margin-top: 30px;
}

#emailas{
    margin-top: -5px;
    width: 255px;
    height: 40px;
    background: #F4F4F4;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;
}

.passw{
    margin-top: 34px;
}

/* .password{
    padding-top: -190px;
    width: 134px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;   
} */

#passwordinpu{
    padding-left: 5px;
    margin-top: -15px;
    width: 275px;
    height: 40px;
    background: #F4F4F4;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;   
}

.rem{
    display: flex;
    width: 443px;
    height: 17px;
    margin-top: 20px;
}

#checkbox{
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.remember{
    margin-top: 5px;
    width: 97px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #888888;
}

.emessage{
    margin-left: 230px;
    width: 434px;
    margin-top: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    color:red;
}

.forgot{
    width: 129px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #149C08;
    margin-left: 70px;
    margin-top: 2px;
}

.signinb{
    width: 225px;
    height: 40px;
    background: #149C08;
    border-color: #149C08;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 8px;
}

.DS{
    margin-left: 20px;
    display: flex;
}

.dont{
    width: 343px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #888888;
    margin-left: 20px;
    margin-top: 20px;

}

.signupp{
    margin-left: -120px;
    width: 193px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    margin-top: 20px;
    color: #149C08;
}


@media screen and (max-width: 569px) {

.loginn{
    margin: 0;
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    height: 550px;
    overflow: hidden;
}

.signupg{
    margin-left: 6%;
}

.sign{
    font-size: 15px;
}

.hrline{
    margin-top: 40px;
    margin-left: 13%;
}

.hrlin{
    margin-top: 40px;
    margin-left: 1%;
}

.emaillabel{
    margin-left: 6%;
    font-size: 15px;
}

#emailas{
    margin-left: 6%;
    width: 170px;
    font-size: 13px;
}

.passw{
    margin-left: 16%;
    font-size: 15px;
}

#passwordinpu{
    margin-left: 16%;
    width: 170px;
    font-size: 13px;
}

.emessage{
    font-size: 14px;
    margin-left: 1%;
}

#checkbox{
    margin-left: 3%;
}


.remember{
    font-size: 13px;
}

.forgot{
    font-size: 13px;
    margin-top: 4px;
    margin-left: 3px;
}

.signinb{
    width: 120px;
    margin-left: 17%;
    font-size: 15px;
}

.dont{
    margin-left: -2%;
}

.signupp{
    margin-left: 1%;
}

}


@media screen and (min-width: 721px) and (max-width: 1021px) {

.loginn{
    margin: 0;
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    height: 600px;
    overflow: hidden;
}

.signupg{
    margin-left: 9%;
}

.sign{
    font-size: 20px;
}

.hrline{
    margin-top: 40px;
    margin-left: 30%;
}

.hrlin{
    margin-top: 40px;
    margin-left: 1%;
}

.emaillabel{
    margin-left: 12%;
    font-size: 20px;
}

#emailas{
    width: 300px;
    font-size: 16px;
    margin-left: 12%;
}

.passw{
    font-size: 20px;
    margin-left: 17%;
}

#passwordinpu{
    width: 300px;
    font-size: 16px;
    margin-left: 17%;
}

.emessage{
    font-size: 19px;
    margin-left: 1%;
}

#checkbox{
    margin-left: 8%;
}

.remember{
    font-size: 17px;
}

.forgot{
    font-size: 17px;
    margin-left: 55px;
}

.signinb{
    width: 32%;
    margin-left: 21%;
    font-size: 20px;
}

.dont{
    font-size: 20px;
    margin-top: 40px;
    margin-left: -9%;
}

.signupp{
    margin-top: 40px;
    margin-left: 5%;
    font-size: 21px;
}

}

@media screen and (min-width: 1022px) and (max-width: 1201px) {

    .loginn{
        margin: 0;
        margin-left: 30%;
    }

}
