.Forgot{
    margin-top: 60px;
    margin-left: 350px;
    width: 500px;
    height: 420px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(32, 32, 32, 0.16);
    border-radius: 16px;
    margin-bottom: 60px;
}

.forgot1{
    padding-top: 40px;
    margin-left: 50px;
}

.emailad{
    margin-top: 40px;
}

.email{
    width: 134px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
}

#emailf{
    padding-left: 20px;
    margin-top: 10px;
    width: 395px;
    height: 54px;
    background: #F4F4F4;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;
}

.resetpass{
    margin-left: 10px;
    margin-top: 15px;
    width: 411px;
    height: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #888888;
}

.signupb{
    width: 395px;
    height: 49px;
    background: #149C08;
    border-radius: 8px;
    margin-top: 20px;
}

.back{
    margin-top: 20px;
    margin-left: 150px;
    display: flex;
    width: 250px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #888888;
}