* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.product-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;

}
/* .product-details {
    display: flex;
    padding: 20px;
   
} */

.product-logo {
    padding: 10px;
}

.amount-container {
display: flex;
justify-content: space-between;
}

.btn-increment {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    text-align: center;
    cursor: pointer;
}