.btn-1{
    background:#149C08;
    width:auto;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    padding-left:60px;
    padding-right:60px;
    border: none;
    outline: none;
}
  button a{
    color:#fff;
    border: none;
    text-align:center;
    text-decoration: none;
}
button a:hover{
    color:#fff;
}