.header-content{
    display:flex;
    align-items: center;
    padding-top:1em;
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: -8%;
}

.gofarm{
    margin-left: 10%;
    color:#149C08;
    width: 5%;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    font-size: 200%;    
    cursor: pointer;  
}

#allcats{
  padding-left: 3%;
}

.select{
    margin-left: 12%;
    display: flex;
    color: #000;
    margin-right: 10%;
    padding: 0.8%;
    font-size: 100%;

}


.srch{
    z-index: 1;
    padding: 5% 40% ;
    margin-left: 0.2%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
select, .srch{
    background: #F6F6F6;
    border: none;
    outline: none;
    font-size: 18px;
}
/* option{
    font-size:18px;
} */
 
select{
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.fa{
    z-index: 2;
    position: relative;
    right: 250%;
}

.join{
    margin-left: 7%;
    background: #149C08;
    color: white;
    width: 7%;
    height: 54px;
    border-radius: 5px;
    border: none;    
}



.bell{
    margin-top:15px;
}

.icons{
    margin-left: 13%;
    display:flex;
    gap: 100%;
    cursor: pointer;
}
.hamburger{
    display:none;
}

/* .bell{
    margin-top: 20px;
    width: 16.04px;
    Height: 16.87px
}

.cart{
    margin-top: 20px;
    width: 16.04px;
    Height: 16.87px
} */

/* ............Mobile responsiveness............................... */


@media screen and (max-width: 569px) {

   .select{
    display: none;
   }
   
   .gofarm{
    font-size: 25px;
   }

   .icons{
    margin-left: 42%;
    gap: 30%;
   }

   .join{
    width: 17%;
    height: 39px;
   }
  
}

@media screen and (min-width: 570px) and (max-width: 720px) {


}

@media screen and (min-width: 721px) and (max-width: 1021px) {



}
