.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment {
  border-right: 1px solid #333;
  margin-right: 20px;
}
.text-img {
  padding-left: 12em;
}
.text-h4 {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.text-para {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
