.subscribe-container {
  margin-top: 120px;
  background: #F3FAF2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.subscribe-header {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #06283d;
}
.subscribe-paragraph {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #06283d;
}

.subscribe-button {
  background: #149c08;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 20px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* WHITE */

  color: #ffffff;
}

.subscribe-icon img {
  max-width: 100%;
}

.subscribe-input {
  padding: 13px 20px;
  width: 400px;

  background: #e4e4e4;
  border: none;
}


@media screen and (max-width: 569px) {

  .subscribe-container{
    width: 100%;
  }

  .subscribe-header{
    width: 100%;
    margin-left: 7%;
  }

  .subscribe-paragraph{
    margin-left: 7%;
  }

  .subscribe-input{
    width: 50%;
    margin-left: 1%;
  }

  .subscribe-button{
    margin-left: 1%;
  }
  
}

@media screen and (min-width: 570px) and (max-width: 720px) {


}

@media screen and (min-width: 721px) and (max-width: 1021px) {



}

