.top-header {
  margin-left: 40px;
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.fruits {
  display: flex;
  justify-content: space-around;
  
}
.banana {
  z-index: 1;
  width: 282px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.2);
  border-radius: 12px;
}

.banana:hover {  
  width: 282px;
  background-color: #ff7d09;
  transition: 2s;
}

.top-img {
  width: 250px;
  height: 168px;
  border-radius: 12px;
  margin: auto;
  margin-top: 1rem;
}


.icon {
  margin-left: 14rem;
}

.img {
  position: relative;
  margin-top: -2rem;
  height: 90%;
}

.img1 {
  position: relative;
  margin-top: -2rem;
  width: 250px;
  height: 200px;
}
.img3 {
  position: relative;
  margin-top: 5px;
  margin-top: -2rem;
  height: 90%;
  padding-right: 2rem;
}
.top-name {
  margin-top: 30px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #353535;
  padding: 5px;
  padding-left: 17px;
}
.top-ratings {
  padding: 5px;
  padding-left: 17px;
}
.top-span {
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.top-price {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 21px;
  color: #353535;
  padding-left: 17px;
}
span {
  color: black;
  text-align: center;
  font-weight: 400;
}
.price-pcs {
  font-weight: 100;
  font-size: 16px;
}
.increment,
.decrement {
  width: 30px;
  padding-left: 6px;
}

.plus-minus {
  padding-left: 10px;
  margin-bottom: 10px;
}
.cart-button {
  margin-top: 25px;
  margin-left: 5px;
  padding: 10px;
  width: 270px;
  background: #149c08;
  border-radius: none;
  color: #ffff;
  border: 1px solid;
}

.view-btn {
  padding: 10px;
  margin-top: 2rem;
  margin-left: 35rem;
  width: 200px;
  background: #149c08;
  border-radius: 10px;
  color: #ffff;
  border: 1px solid;
  cursor: pointer;
}

@media screen and (max-width: 569px) {

  .top-header{
    font-size: 21px;
    margin-top: 50px;
    margin-left: 7%;
  }

  .fruits{
    margin-left: 2%;
    display: grid;
    width: 98%;
    grid-template-columns: 50% 50%;
  }

  .banana{
    width: 95%;
  }

  .banana:hover {  
    width: 95%;
    background-color: #ff7d09;
    transition: 2s;
  }

  .img1{
    margin-left: 2%;
    width: 76%;
  }

  .cart-button{
    width: 93%;
  }

  .top-name{
    font-size: 15px;
  }

  .top-price{
    font-size: 15px;
  }

  .view-btn{
    margin-left: 25%;
    font-size: 20px;
  }
}

@media screen and (min-width: 570px) and (max-width: 720px) {


}

@media screen and (min-width: 721px) and (max-width: 1021px) {

  .top-header{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 7%;
  }

  .fruits{
    margin-left: 2%;
    display: grid;
    width: 98%;
    grid-template-columns: 50% 50%;
  }

  .banana{
    width: 95%;
  }

  .banana:hover {  
    width: 95%;
    background-color: #ff7d09;
    transition: 2s;
  }

  .img1{
    margin-left: 0;
    width: 100%;
  }

  .cart-button{
    font-size: 25px;
    width: 93%;
  }

  .top-name{
    font-size: 30px;
  }

  .top-price{
    font-size: 25px;
  }

  .view-btn{
    margin-top: 50px;
    margin-left: 38%;
    font-size: 28px;
  }

  .price-pcs{
    display: none;
  }

  #pmm{
    margin-top: 20px;
  }
}


@media screen and (min-width: 1022px) and (max-width: 1201px) {

  .fruits{
    margin-left: 2%;
    display: grid;
    width: 98%;
    grid-template-columns: 30% 30% 30%;
  }

  .banana{
    width: 95%;
  }

  .cart-button{
    font-size: 25px;
    width: 93%;
  }

  .top-name{
    font-size: 30px;
  }

  .top-price{
    font-size: 25px;
  }

  .view-btn{
    margin-top: 50px;
    margin-left: 38%;
    font-size: 28px;
  }

  .price-pcs{
    display: none;
  }

  #pmm{
    margin-top: 20px;
  }

}
