.details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:65vh;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #e4dddd;
    border: 1px solid #e4dddd;
    width: 300px;
    margin-left: 1em;  
    font-family: 'Nunito', sans-serif;
}
  
p.heading span.rating{
    display: flex;
}

p.heading{
    font-size:25px;
    font-weight:bolder;
    margin-top:1em;
}
p.pricing{
    font-size: 25px;
     
}
p.butt{
    width: auto;
    margin-top: 1em;
    padding: 0;
}
small{
    font-size: 20px;
}
 