

.Signupp{
    margin-top: 60px;
    margin-left: 15%;
    width: 71% ;
    height: 1350px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(32, 32, 32, 0.16);
    border-radius: 16px;
    margin-bottom: 60px;
    
}

.Signup{
    width: 70%;
    padding-top: 40px;
    margin-left: 20%;
}

.signing{
    margin-left: 5%;
    width: 71%;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10% 0px;

}

.sign{
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 24px;
    color: #344054;
    text-align: center;
    
}

.hr1{
    margin-top: 20px;
    width: 170.5px;
    height: 0px;
}

.hr2{
    margin-top: 20px;
    width: 170.5px;
    height: 0px;
}

.Horizontal{
    margin-left: 65px;
    margin-top: 20px;
    display: flex;
}

.or{
    margin-top: 5px;
    margin-left: 10px;
    width: 30.5px;
    height: 0px;
    font-weight: 500;
}

.firstname-container{
    width: 100%;
}

.emaill, .firstname, .lastname, .phoneNumber, .role{
    margin-top: 30px;
    margin-bottom: 15px;
    width: 434px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
}

.emessage{
    margin-left: 230px;
    width: 434px;
    margin-top: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    color:red;
}

#emailads, #firstnameinp, #lastnameinp, #Number, #roleinp{
    padding-left: 20px;
    margin-top: 10px;
    width: 81%;
    height: 54px;
    background: #F4F4F4;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;
}

.password, .confp{
    margin-top: 40px;
    width: 134px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;   
}

#passwordinps, #confinps{
    padding-left: 20px;
    margin-top: 10px;
    width: 395px;
    height: 54px;
    background: #F4F4F4;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;   
}

.DS{
    display: flex;
}

#checkbox{
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.agree{
    margin-left: 10px;
    margin-top:28px;
    width: 411px;
    height: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #888888;
}

.signupbb{
    width: 395px;
    height: 49px;
    background: #149C08;
    border-radius: 8px;
    margin-top: 20px;
}

.signupp{
    width: 193px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    margin-top: 20px;
    color: #149C08;
}

.already{
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    width: 250px;
    height: 17px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #888888;
}

.Asignin{
    font-weight: 550;
    margin-left: 10px;
    color: green;
}


@media screen and (max-width: 569px) {

    .Signupp{    
        overflow: hidden;
    }

    .signing{
        width: 90%;
    }

    #sign{
        margin-top: 1px;
        font-size: 20px;
        line-height: 20px;
    }

    .hr1, .hr2{
        width: 20%;
        margin-top: 25px;
    }
    .Horizontal{
        margin-left: 25%;
    }

    .or{
        font-size: 20px;
    }

    #lastnameinp, #emailads, #Number, #roleinp, #confinps{
        width: 39%;
    }

    #passwordinps{
        width: 89%;
    }

    .signupbb{
        margin-top: 45px;
        margin-left: 12%;
        width: 60%;
    }

    .already{
        font-size: 13px;
        margin: 0;
        margin-top: 30px;
    }
}


@media screen and (min-width: 721px) and (max-width: 1021px) {

    .signupp{
        overflow: hidden;
    }
}
