.sidebar-button {
   
    border-radius: 0px 40px 40px 0px;;
   cursor: pointer;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    color: white;
    width: 200px;
    
}

.sidebar-button:hover {
    background: #149C08;
    cursor: pointer;
}

.sidebar-button:active {
    cursor: pointer;
}